:root {
      margin: 0;
      max-width: 1rem;
}

.navbar {
   
   width: 100%;
   height: 30px;
   background-color: #333;

   border-radius: 50px;

   display: flex;
   justify-content: center;
   align-items: center;

   gap: 20px;
   
}
.navbar a {
    color: white;
    text-decoration: none;

    font-size: 20px;
    font-weight: bold;
}

.hero-btn {
    color: aqua;
    background-color: black;
    border: 2px solid aqua;
    border-radius: 50px;
}

.home {
 background-color: #f2f2f2;
 padding: auto; 
 text-align: center;
 color: olive;  
}

.about {
    padding: auto; 
    text-align: center;
    color: olive;  
}

.about-image {
    width: 100%;
    display: grid;
    justify-content: left;
}

.about-image-1 {
    width: 100%;
    display: grid;
    justify-content: right;

}

#story-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    display: grid;
    justify-content: left;
    margin-top: 100px;
}

#para-text {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 20px;
}