:root {
      font-size: 16px;
      margin: 1rem;
      padding: 0.5rem;
}

.navbar {
   
   width: 100%;
   height: 4vmin;
   background-color: #333;

   border-radius: 50px;

   display: flex;
   justify-content: center;
   align-items: center;

   gap: 20px;
   
}

.navbar a {
    color: white;
    text-decoration: none;

    font-size: 20px;
    font-weight: bold;
}

.hero-btn {
    
    color: rgb(0, 0, 0);
    background-color: rgba(5, 184, 255, 0.829);
    border: 2px solid rgb(46, 43, 39);
    border-radius: 50px;
    margin-bottom: 10px;
}

.home {
 background-color: rgb(224, 130, 15);
 padding: auto; 
 text-align: center;
 color: black;  
 border-radius: 25px;
}

.about  {
    padding: 1.5rem; 
    text-align: center;
    color: orange; 
    background-color: #333; 
}


.card img{
    border-radius: 25px;
    margin: 0 auto;
    display: block;
    width: 90%;

    
}

.card {
    justify-content: center;
    display: grid;
    

}

.container {

margin-inline: auto;
  
}

section{
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    background-color: #333;
    padding: 20px;
    
}

.contact h1{
    color: #e8820c;
}

.contact form{
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    max-width: 90%;
    color:#e8820c   
    
}

#name,
#email,
#message{
    border-radius: 20px;

}

.contact input,
.contact textarea{
    padding: 10px;
    font-size: medium;

}

.contact textarea{
    height: auto;
}

.contact button {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
}

.services{
    background-color: #333;
    
}

.services h1 {
    color: orange;
    text-align: center;
    
}

.services p {
    color: orange;
    text-align: center;
    
}

.service-card {
    margin: 0 auto;
    padding: 30px;
    background-color: #e8820c;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.service-card img {
    margin: 0 auto;
    padding: 30px;
    display: block;
    width: 90%;
    
    
}

.service-card h3 {
   color: aquamarine;
   font: bold;
   align-self: flex-start;
   margin-top: 20px;
}
.service-card p {
   color: aquamarine;
   font: bold;
   background-color: #333;
   align-self: center;
   border-radius: 25px;
   padding: 0.5rem;
   width: fit-content;
}

.service-btn{
    color:red;
    border-radius:25px ;
    margin-bottom: 10px;
    width: 10vh;
    background-color: aqua;
    align-self: center;
}

.faq{
    background-color: #e8820c;
    text-align: center;
}

.faq h1{
    color: black;    
}


