:root {
      font-size: 16px;
      margin: 1rem;
      padding: 0.5rem;
}

.navbar {
   
   width: 100%;
   height: 4vmin;
   background-color: #333;

   border-radius: 50px;

   display: flex;
   justify-content: center;
   align-items: center;

   gap: 20px;
   
}

.navbar a {
    color: white;
    text-decoration: none;

    font-size: 20px;
    font-weight: bold;
}

.hero-btn {
    
    color: rgb(156, 156, 49);
    background-color: black;
    border: 2px solid rgb(255, 157, 0);
    border-radius: 50px;
}

.home {
 background-color: black;
 padding: auto; 
 text-align: center;
 color: olive;  
 border-radius: 25px;
}

.about  {
    padding: 1.5rem; 
    text-align: center;
    color: orange; 
    background-color: #333; 
}


.card img{
    border-radius: 25px;
    margin: 0 auto;
    display: block;
    width: 90%;

    
}

.card {
    justify-content: center;
    display: grid;
    

}

.container {

margin-inline: auto;
  
}

section{
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    background-color: #333;
    padding: 20px;
    
}

.contact h1{
    color: #e8820c;
}

.contact form{
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    max-width: 90%;
    color:#e8820c   
    
}

#name,
#email,
#message{
    border-radius: 20px;

}

.contact input,
.contact textarea{
    padding: 10px;
    font-size: medium;

}

.contact textarea{
    height: auto;
}

.contact button {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
}