:root {
    max-width: 1200px;
    --spacing:1rem;
    --sectionspacing:5rem;
    --radius:12px;
}


.card {
    
    border-radius: var(--radius);
    padding: 1.5rem;
    background: wheat;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.cart-container {
  
    display: inline-block;
    width: 0 auto;
    padding: 30px;

}

.cart-badge{
    background-color: aqua;
    text-decoration: none;
    border-radius: 25px;
    text-decoration: none;

}